@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
      background-color: #010819;
      color: white;
      font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
  border: 2px #545a6a solid;
  margin: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2b313f;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gingbot-wrapper{
  font-size: 16px;
  font-weight: lighter;
  background-color: #545a6a;
  padding: 20px;
}

.gingbot{
      width: 500px;
      height: 550px;
}

.App-avatar {
      width: 80px !important;
      height: 80px !important;
      display: inline-block !important;
}

.App-footer{
      background-color: #2b313f;
      padding: 20px;
      color: white;
      font-weight: bold;
}
.login-button{
      background-color: #545a6a !important;
      color: white !important;
      margin-bottom: 15px !important;
}
@media screen and (max-width: 760px) {
      .gingbot{
            width: 250px;
            height: 350px;
      }
}
