<p id="notice"><%= notice %></p>

<div class="App">
      <header class="App-header">
            <div class='Avatar-wrapper'>
                  <img alt="Sam Ging"
                            src="../../assets/images/samGing.jpeg"
                            class="Home-avatar">
            </div>
            <h1 class="App-title">Gingulator</h1>
            <a class = 'waves-effect waves-light btn'
                  href='/login'>login</a>
      </header>
      <div class="App-intro">
            <p>Welcome to the Gingulator!</p>
            <p>Sam's a busy guy but if you require assistance the Gingulator is happy to be of service</p>
            <p>Please procure the closure of your query below</p>
      </div>
      <div class='gingbot-wrapper'>
          <iframe title="GingBot"
                        class='gingbot'
                        width="350px"
                        height="450px"
                        src="https://console.dialogflow.com/api-client/demo/embedded/gingulator-io">
          </iframe>
      </div>
      <footer class="App-footer">
            <div class='footer-wrapper'>
                  <p>Copyright &copy; <i>Bedevilled Horse, Hacker Fellows 2018</i></p>
            </div>
      </footer>
</div>
