// Place all the styles related to the app_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	background-color: #F5F5DC;
	border-radius: 10px;
	width: 1096px;
	margin: 0 auto;
	border-spacing: 0px;
	border-bottom: 1px solid #ddd;
}