.buttons {
  display: inline-block; 
}

.cards-container {
  align-content: center;
}

.column {
  float: left;
  padding: 20px 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.profile-card{
  border-radius: 20px;
  width: 600px;
  height: 350px;
  background-color: white;
  display: flex;
  flex: 1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

.profile-card header{
  border-right: 1px solid #d32f2f ;
  width: 100px;
 
}

.profile-card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  margin: auto;
  margin-top: 40px;
  border: 8px solid transparent;
  transition: .4s;
  }

.profile-card img:hover{
  border: 8px solid #e57373 ;
}

.profile-card h1{
  font-family: 'Raleway', Arial;
  font-size: 15px;
  color: #2b313f ;
  text-align: center;
}

.profile-card h2{
  font-family: Arial;
  font-size: 13px;
  text-align: center;
}

.profile-bio{
  border-radius: 0 20px 20px 0;
  background-color: #2b313f ;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-bio p{
  color: white;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  margin: 30px;
  margin-top: 70px;
}

.heart-icon{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  align-content: center; 
}

.fa-heart{
  display: flex;
  color: white;
  font-size: 50px;
  transition: .4s;
  
}

.fa-heart:hover{
  color: #d32f2f ;
  transform: scale(1.2);
}

body {
  background-color: #010819;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

.nav-wrapper {
  height: 100px;
  margin: 20px 0 0 ;
  padding: 10px 0;
  border-radius: 50%;
}

.brand-logo {
  width:70px;
  height: auto;
  border-radius: 50%;
  padding:40px;
  border:3px solid #FFFFFF;
  background-color:#ff0;
  margin-left: 10px;
  margin-top: 4px;
}

h2 {
  color: #FFFFFF;
}

nav { 
  background-color: #2b313f;
  height: 100px;
  font-weight: bold;
  font-family: verdana, arial, helvetica, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #FFFFFF;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px -7px 0;
	background-color: #c00;
	color: #fff;
}

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.fa.fa-home {
	color: white;
	font-size: 20px;
    padding: 1.0px 1.0px;
}

.fa.fa-bars {
	color: white;
	font-size: 20px;
    padding: 1.0px 1.0px;
}

.app-title {
  height: 300px;
  padding: 400px;
  color: white;
}